<div class="header-container">
    <div class="header">
<!-- jordan add button compare -->
<div class="jordan_compare_products">
<?php
$_helper = $this->helper('catalog/product_compare');
$_items = $_helper->getItemCount() > 0 ? $_helper->getItemCollection() : null;
?>
<!-- jordan comparete prodcut start -->
<?php if($_helper->getItemCount()!=0){ ?>
<button type="button" title="<?php echo $this->__('Compare Products') ?>" class="button" onclick="popWin('<?php echo $_helper->getListUrl() ?>','compare','top:0,left:0,width=820,height=600,resizable=yes,scrollbars=yes')"><span><span><?php echo $this->__('Compare<br>Products') ?></span></span></button>
<div class="jordan_compare_products_action">
<span class="jordan_compare_products_number">
<?php echo $this->__('%d added', $_helper->getItemCount()) ?>
</span>
<span>
<a href="<?php echo $_helper->getClearListUrl() ?>" onclick="return confirm('<?php echo $this->__('Are you sure you would like to remove all products from your comparison?') ?>');"><?php echo $this->__('<br>Clear list') ?></a>
</span>
</div>
<?php } ?>
</div>
<!-- jordan add button compare -->



        <!-- jordan --
                <p class="welcome-msg"><?php echo $this->getWelcome() ?></p>
        <!-- jordan -->
        <?php if ($this->getIsHomePage()): ?>
            <h2 class="logo"><strong><?php echo $this->getLogoAlt() ?></strong><a href="<?php echo $this->getUrl('') ?>" title="<?php echo $this->getLogoAlt() ?>" class="logo"><img src="<?php echo $this->getLogoSrc() ?>" alt="<?php echo $this->getLogoAlt() ?>" /></a></h2>
        <?php else: ?>
            <a href="<?php echo $this->getUrl('') ?>" title="<?php echo $this->getLogoAlt() ?>" class="logo"><strong><?php echo $this->getLogoAlt() ?></strong><img src="<?php echo $this->getLogoSrc() ?>" alt="<?php echo $this->getLogoAlt() ?>" /></a>
        <?php endif ?>

        

        <?php if ($this->getChildHtml('currency_header') || $this->getChildHtml('store_switcher') || $this->getChildHtml('store_language')) : ?>
            <div class="switchers">
                <div class="sw_bg_l">
                    <div class="sw_bg_r">
                        <?php echo $this->getChildHtml('store_switcher') ?>
                        <span class="langaugeText"><?php echo $this->__('') ?></span><?php echo $this->getChildHtml('store_language') ?>
                        <?php echo $this->getChildHtml('currency_header') ?>
                        <div class="sp"></div>
                    </div>
                </div>
            </div>
        <?php endif; ?>
        <!-- jordan --
        <div class="quick-access">
        <?php echo $this->getChildHtml('topLinksCustom') ?>
        </div>
        <!-- jordan -->
        <div class="search">
            <?php echo $this->getChildHtml('topSearch') ?>
            <div class="sp"></div>
        </div>
        <?php echo $this->getChildHtml('topContainer'); ?>
        <?php echo $this->getChildHtml('minicart_head'); ?>
    </div>
</div>

<?php echo $this->getChildHtml('topMenu') ?>

<?php if ($homePageHeaderBlock = $this->getChildHtml('home_page_header_block')) : ?>
    <div class="home_page_header_block">
        <?php echo $homePageHeaderBlock ?>
    </div>
<?php endif; ?>