@media only screen and (min-width : 481px) and (max-width:768px) {
    .header{
        //background-color: green;
    }
    .search{
        margin-left: 30px !important;
        margin-top: 25px !important;
        width: 100px !important;
    }


    #search_mini_form {
        width: 200px;
    }
    .form-search{
        width: 220px;
        margin-top: 0 !important;
    }
    .form-search input.input-text {
        width: 175px;
    }

    .products-grid .item {
        width: 49% !important;
    }
    .main {
        width: 99%;
    }
    .page-title{
        margin-top: 16px;
    }

    .footer-container .links{
        margin-top: 90px !important;
    }

}