/* Small Devices, Tablets */
@media only screen and (min-width : 768px) and (max-width: 992px){
    .header{
        //background-color: red;
    }

    .wrapper{
        max-width: 100% !important;
        margin: 0 auto;
    }
    .col-main{
        width: 75% !important;
        margin-top: -11px !important;
        margin-left: 0% !important;
        margin-right: 0% !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
        display: inline !important;
        float: left !important;

    }
    #camera_wrap_1{
        width: 133% !important;
        height: 320px !important;
        margin-bottom: 10px  !important;
        border: 0px solid !important;
    }
    .cms-home .col-right{
        margin-top: 330px !important;
    }

    .col-right,
    .col-left{
        width: 24% !important;
        display: inline !important;
        float: left !important;
    }
    .col-left{
        padding-left: 0px;
        padding-right: 1%;
    }
    .col-right{
        padding-left: 1%;
        padding-right: 0px;
    }
    .col-left.sidebar .block-banner img,
    .col-right.sidebar .block-banner img{
        width: 100%;
    }

    .search{
        margin-left: 100px !important;
        margin-top: 25px !important;
        width: 300px !important;
    }


    #search_mini_form {
        width: 300px;
    }
    .form-search{
        width:300px;
        margin-top: 0 !important;
    }
    .form-search input.input-text {
        width: 250px;
    }
    .col2-left-layout .col-left{
        margin-right: 20px;
    }
    .vebkoFooterMenu{
        display: inline;
        float: left;
        text-align: left;
        width: 25%;
    }
    .block-subscribe{
        display: inline;
        float: right;
        margin-top: -8px;
        padding-top: 0;
        width: 25%;
        border-width: 0;
    }
    /* grid product */
    .products-grid .item {
        width: 50% !important;
    }
    /* grid product end */
}

/* cart start */
.checkout-cart-index .col-main{
    width: 100% !important;
}
.cart fieldset {
    display: inline;
    float: left;
    width: 100% !important;
}
.cart-collaterals{
    width:  300px !important;
    float: left;
    display: inline;
}
.cms-home .messages{
    width: 133%;
    height: 40px;
}
.cms-home .category-products{
    height: 400px;
}
}
/* cart start end*/