/************************** JORDAN *********************************/
body{
    //background: rgb(255,241,0);
    background-image: url("../images/bodybackgraound.jpg") !important;
    background-repeat: repeat-x;
    background-size: auto 100%;
}
body,
.form-search input.input-text,
h2.product-name, h3.product-name,
button.button span span,
#custommenu div.menu,
.vebkoFooterMenuTitle,
.price,
.products-grid button.button span span,
a.link-compare{
    font-family: 'Roboto', sans-serif !important;
}
.header-container, .submenu, .main-container, .home_page_header_block, .top_toolbar_container, .footer, .nav-container, .messages li {
    border-radius: 0 !important;
}
.header-container,
.main-container,
.block-layered-nav,
.pager{
    background: transparent;
}
/* headder */
.header{
    //background: #FFF100;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    padding-top: 6px;
    height: 64px;
}
.form-search input.input-text{
    border-radius: 0px;
}
#search_mini_form #search {
    font-size: 12px;
    height: 26px;
    border: 1px solid #ccc;
}
.logo{
    margin-left: 10px;
}
.welcome-msg{
    margin-bottom: 0;
}
.switchers{
    right: 6px;
}

.skip-minicart{
    margin-top: 40px;
    margin-right: 0px;
    z-index: 999999999999999;
}

.skip-minicart:hover{
    box-shadow: 0px 0px 10px 3px #888888;
    z-index: 999999999999999;
}

.skip-minicart .cart-items-box{
    box-shadow: 0px 0px 10px 3px #888888;
    z-index:100000;
    width: 400px;
    background: none repeat scroll 0 0 white;
    z-index: -1;
    border-radius: 0;
    display: block;
    border: 0px solid;
    display: block;
    border-top: 0 none;
}
.skip-minicart #mini-cart-total{
    background: none repeat scroll 0 0 white;
    z-index:-100000;
    border-radius: 0;
}
.skip-minicart .header-cart .cart-value {
    background: none repeat scroll 0 0 #6cd0b8;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    padding: 7px 5px;
}


.skip-minicart .mini-basket-content-wrapper{
    width: 250px;
}
.skip-minicart .remove-btn{
    margin-left: 50px;
    top: -26px !important;
}
.skip-minicart .mini-cart-name{
    margin-bottom: 10px;
}
.skip-minicart .header-cart .relative{
    background: transparent !important
        display: block;
    border-bottom: 0 none;
}

.skip-minicart .header-cart .relative:hover{
    background: white !important;
}
.qty-btngroup input{
    height: 22px !important;
}
.menu-button{
    border-bottom: 1px solid #333333;
}
/* header end */


/* main content start */
.main{
    padding-top: 0;
    padding-bottom: 0;
}

.col-main{
    width: 100% !important;    
    margin-top: -10px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.main-container{
    width: 100%;
    margin-top: 8px;
}
.cms-home .sidebar .main-container img{
    width: 100%;
}
.camera_pag{
    /*margin-top: -45px;
    margin-right: 12px;*/
    bottom: 64px;
    left: 50px;
    position: absolute;
}

#mini-cart-total{
    background: transparent !important;
    color: black !important;
}
.camera_pie{
    display: none;
}
.cms-home .toolbar{
    display: none;
}
/*right banner*/
.block-banner .block-content{
    margin-bottom: 6px;
}
/*right banner end*/
.go-to-top{
    right: 20px !important;
}

/* product */
.box-description{
    display: none;
}
.sorter .sort-by{
    width: 200px;
}
.products-grid{
    height: 340px !important;
}
.cms-home .products-grid >li{
    display: none;
}
.products-grid .product-name{
    height: 30px;
}
.cms-home .products-grid.first >li:first-child,
.cms-home .products-grid.first >li:nth-child(2),
.jordan_show_second_list ul:first-child li{
    display: block;
}
.jordan_show_second_list .even li:first-child,
.jordan_show_second_list .even li:nth-child(2){
    display: block;
}
.jordan_show_second_list .last{
    display: none;
}

/* fix */
.cms-home .products-grid {
    margin-top: 138px;
}
.cms-home .products-grid.first {
    margin-top: 0px;
}
.jordan_show_second_list{
    margin-top: -120px;
}
/* fix */
/* grid product */
.short-description{
    min-height: 30px;
}
.products-grid .ratings{
    display: none;
}
/* grid product end */
/* list product */
ol.products-list li{
    list-style-type: none;
}
ol.products-list li .product-image{
    padding-right: 18px;
}
ol.products-list li .product-shop{
    width: calc(100% - 156px);
}
ol.products-list li .product-shop .link-compare{
    margin-left: 0;
    width: 90px !important;
}
ol.products-list li .product-shop .add-to-links li{
    padding-left: 0;
}
ol.products-list li .product-shop .add-to-links .separator{
    display: none;
}
/* list product end*/
/* single product start */
.product-shop .add-to-links li{
    padding-left: 4px;
    padding-top: 5px;
}
.product-shop .add-to-links p{
    padding-top: 6px;
    display: none;
}
#discount-coupon-form{
    display: none;	
}
#shopping-cart-table button span span{
    background-image: none;
}
.product-shop #product-addtocart-button{
    background: yellow !important;
}
.product-shop #product-addtocart-button span span{
    background: yellow none repeat scroll 0 0 !important;
    color: black !important;
}
/* single product end */
.products-grid button{
    float: left;
    display: inline;
    opacity: 1;
    text-align: center;
    background: none repeat scroll 0 0 yellow;
}
.products-grid .add-to-links{
    float: left;
    margin-left: 7px;
    margin-top: 0px;
    background: none repeat scroll 0 0 black;
    color: white;
    height: 22px;
    margin-top: 0;
    width: 70px !important;
}

.add-to-links li{
    height: 22px;
    background: none repeat scroll 0 0 #E3E3E3;
}
.add-to-links .link-compare{
    margin-left: -46px;
    margin-top: 6px;
    position: absolute;
    width: 90px !important;
}
.cms-home .add-to-links .link-compare{
    display: block !important;
    height: 22px !important;
    margin-top: 0 !important;
    padding-left: 0px !important;
    padding-right: 0px;
    padding-top: 5px !important;
    width: 90px !important;
    font-size: 12px;
    backgraound: gray !important;
    margin-left: 0px;
    margin-top: 6px;
    position: absolute;

}

ul.products-grid li .add-to-links li{
    width: 90px !important;
}
.wp-custom-menu-popup{
    width: 200px !important;
}
.products-grid button.button span span {
    background-image: none !important;
    border-radius: 20px;
    color: black;
    backgraound: #FFF100;
    font-size: 12px;
    font-weight: normal;
    text-transform:initial;
    padding-left: 1px;
    padding-right: 8px;
    padding-top: 3px;
}
a.link-compare{
    text-transform:initial;
    color: black !important;
    font-size: 12px !important;
}
.jordan_compare_products{
    background: none repeat scroll 0 0 black;
    color: white;
    left: 0;
    margin-top: 0;
    position: fixed;
    top: 44%
}
.jordan_compare_products button.button {
    background: none repeat scroll 0 0 black;
    height: 44px;
    color: white;
    padding: 0 0 0 7px;
    position: relative;
    text-align: center;
    width: 100px;
}
.jordan_compare_products .button{
    height: 43px;
    left: 0;
    position: fixed;
    top: 44%;
    opacity: 1;
}

.jordan_compare_products button.button span span {
    background-image: none;
}

.jordan_compare_products_action{
    color: yellow;
    font-size: 14px;
    width: 75px;
    margin-bottom: 10px;
    margin-right: 15px;
    margin-top: 6px;
}
.jordan_compare_products_action a{
    color: yellow;
}


.products-grid{
    height: 240px;
}
.products-grid .item-content {
    padding-bottom: 95px;
}
.products-grid .item{
    width: 33% !important;
}
.products-grid .item .actions {
    bottom: 0;
    display: block;
    position: relative !important;
    float: right;
    margin: 0 auto;
    text-align: right;
    top: 0;
    width: 100px;
    margin-top: 4px;
    margin-top: 5px !important;
    width: 188px !important;
    margin: 0 auto;
    margin-right: calc(50% - 83px);
}

.jordan_new_products_title{
    border-bottom: 1px solid black;
    font-size: 18px;
    margin-left: 0px;
    text-transform: uppercase;
}

products-grid .price-box {
    margin-top: 26px;
}

.easytabs-content{
    border-left-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    border-right-width: 0;
}
.product-collateral .data-table tr.first th {
    padding: 0px 0px 0px 0px;
    text-align: left;
    padding-left: 8px;
    padding-top: 3px;
    border-bottom: 1px solid #ccc;
}
.product-collateral .data-table th {
    padding-bottom: 8px;
    padding-top: 6px;
    padding: 3px 8px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}
.product-collateral .data-table td{
    padding-bottom: 8px;
    padding-top: 6px;
    border-bottom: 1px solid #ccc;
}

.products-grid a.product-image{
    text-align: center;
}
.products-grid .price-box{
    widht: 40px;
}
.products-grid  .product-name,
.products-grid  .short-description,
.products-grid  .price-box,
.products-grid  .action{
    margin: 0 auto;
    width: 175px;
}
.products-grid  .price-box{
    height: 40px;
}
.products-grid  .short-description{
    margin-top: 2px;
    min-height: 100px;
}
/* product end*/

/* menu*/
#custommenu div.column {
    float: left;
    margin: 0;
    padding: 0 1%;
    width: 100% !important;
}

#custommenu{
    height: 36px;
}
#custommenu .parentMenu a{
    height: 33px !important;
    padding-top: 3px !important;
}
#custommenu .itemMenu{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 0;
    width: 98%;
}


#custommenu .itemMenuName{
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    padding-bottom: 15px !important;
    padding-top: 15px !important;
}
/* menu end */


/* search */
.form-search .button{
    margin-left: -25px !important;
    margin-top: 3px !important;
}
#search{
    font-size: 14px;
    height: 32px;
}
.switchers {
    clear: none !important;
}
#search{
    font-size: 14px;
    height: 32px;
}
.search{
    float: left !important;
}
/*search*/ 

#at4-follow,
#at4-foc{
    margin-top: 33px !important;
}


.col-left{
    padding-left: 12px;
    padding-right: 0px;
}

.col-right{
    padding-left: 0px;
    padding-right: 12px;
}

.imgLoaded{
    margin-top: 0  !important;
}
.form-language select{
    background: transparent;
    //background-image: url("../images/arrowdown.png") !important;
    background-repeat: no-repeat;
    width: 140px;
    padding: 2px;
    font-size: 12px;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 20px;


}
.form-language {
    padding-left: 0px !important;
    padding-top: 2px !important;
    width: 110px;
    height: 24px;
    overflow: hidden;
    background: url(../images/arrowdown.png) no-repeat right white;
    border: 1px solid #ccc;
}
.header .form-search button.button {
    float: left;
    position: absolute;
    right: 8px;
    top: 3px;
}
.langaugeText{
    font-size: 12px;
    padding-right: 5px;
    color: #CFCDCE;
}

.form-language label,
.catalog-product-compare-index .btn-cart{
    display: none;
}
.jordan_show_all a{
    float: right;
    text-align: right;
    font-size: 12px;
    display: block;
    width: 106px;
    height: 20px;
    background: transparent url(../images/dropdownlogo.png) no-repeat right white;
}


/* footer start */
.footer .links li{
    display: inline;
    float: left;
    padding-bottom: 2px;
    padding-top: 2px;
}
.vebkoFooterMenu{


    margin-bottom: 12px !important;
}
.vebkoFooterMenuTitle{
    color: black;
    margin-bottom: 8px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
}

.block-subscribe{
    background: none !important;
    margin-top: -8px;
    padding-top: 0;
    width: 100%;
    border-width: 0;
}
#mc_embed_signup{
    background: none !important;
    margin-top: -px;
}
.footer{
    background: transparent !important;
    border-radius: 0px !important;
}
.footer ul.links {
    position: relative;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    margin-bottom: 4px;
    margin-top: 8px;
}
.footer address {
    text-align: center;
    border-top: 1px solid white;
    padding-top: 8px;
}

/* footer end */

.block-layered-nav{
    border-width: 0;
}

/* with left columen start */
.col2-left-layout .col-left{
    margin-right: 24px;
}

#narrow-by-list li{
    padding-left: 20px;
}
#narrow-by-list li:before{
    content: ">";
    padding-right: 2px;
}

#narrow-by-list dd{
    border-bottom: 1px dotted #c7c7c7;
    margin-bottom: 6px;
}
.products-grid .actions{
    top: 240px;
}
.col2-left-layout .link-compare{
    color: black !important;
    padding-top: 0px !important;

}
/* with left columen end */




.block-cart,
.block-compare,
.block-compared,
.block-viewed,
.box-tags,
.cms-home .col-main .messages1{
    display: none !important;
}

.main-container .std{
    margin-top: 8px;
}
.cms-home .messages{
    width: 100%;
    height: 40px;
}
/* chacout page start */
.vebkoSendMailCart{
    margin-bottom: 40px;
}
#shopping-cart-table{
    border-width: 0;
    padding-right: 16px;
}
.cart-collaterals{
    background: #C8C8C8;
    margin-bottom: 30px;
}
#shopping-cart-totals-table tr td{
    float: right;
}
#sh	 tr td:first-child{
    float: left;
}
.checkout-cart-index.btn-continue,
.checkout-cart-index .btn-update{
    float: left;
}
.checkout-cart-index #shopping-cart-table button.button{
    background-image: none;
    background-color: black;
    height: 36px;
}
/* chacout page end */

fieldset{

    float: left;
    display: inline;
}
#product-review-table {
    margin-bottom: 16px;
    margin-top: 16px;
}

#mc_embed_signup_scroll div:last-child {
    margin-left: 0px;
    margin-top: 0px;
    position: relative;
    z-index: 1000;
}
.mc-field-group{
    height: 70px;
}

#mce-EMAIL{
    margin-top: 24px;
}
#mc-embedded-subscribe{
    float: right !important;
    margin-left: 10px !important;
    margin-right: 0 !important;
    margin-top: -44px !important;
    height: 72px !important;
    width: 72px !important;
    font-size: 0px !important;
    text-transform: uppercase !important;
    background-color: transparent !important;
    background-image: url("../images/singup.png") !important;
    background-size: 72px 72px;
    background-repeat: no-repeat;
}

#mc-embedded-subscribe:hover{
    margin-top: -45px !important;
    margin-right: -1px !important;
    height: 76px !important;
    width: 76px !important;
    background-size: 76px 76px;
}
.footer-container {
    margin-bottom: 8px;
}