/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .header{
        //background-color: #456987;
    }
    #custommenu{
        text-align: right;
        width: 968px !important;
        float: right;
        margin-top: -36px;
        text-align: right;
    }
    .vebkoFooterMenu{
        display: inline;
        float: left;
        text-align: left;
        width: 25%;
    }
    .block-subscribe{
        background: none !important;
        display: inline;
        float: right;
        margin-top: -8px;
        padding-top: 0;
        width: 25%;
        border-width: 0;
    }
    .wrapper{
        max-width: 1200px !important;
        margin: 0 auto;
    }
    .col-main{
        width: 876px !important;    
        margin-top: 0px !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .cms-home .col-main{   
        margin-top: 0px !important;
    }
    .checkout-cart-index .col-main{
        width: 1200px !important;
    }
    #camera_wrap_1{
        width: 1198px !important;
        height: 498px !important;
        margin-bottom: 10px !important;
        border: 0px solid !important;
        margin-top: 0px;
    }
    .cms-home .main-container{
        margin-top: 0;
    }
    .messages{
        margin-top: 10px !important
    }
    .cms-home .col-right{
        margin-top: 566px !important;
    }
    .col-right,
    .col-left{
        width: 300px !important;
    }
    .col-left{
        padding-left: 0px;
        padding-right: 0px;
    }
    .col-right{
        padding-left: 0px;
        padding-right: 0px;
    }
    .col-left.sidebar .block-banner img,
    .col-right.sidebar .block-banner img{
        width: 300px;
    }


    .search{
        //margin-left: 238px !important;
        //margin-top: 25px !important;
    }
    .header .form-search {
        margin-top: 0px !important;
    }

    .search{
        float: right !important;
    }
    .form-search{
        width: 255px !important;
    }
    .form-search input.input-text {
        width: 240px;
    }
    .footer_sub_link{
        width: 280px;
        float: left;
        text-align: left;
    }

    .vebkoFooterMenu{
        display: inline;
        float: left;
        text-align: left;
        width: 25%;
    }
    .block-subscribe{
        background: none !important;
        display: inline;
        float: right;
        margin-top: -8px;
        padding-top: 0;
        width: 25%;
        border-width: 0;
    }
    .cart fieldset{
        width: 900px !important;
        float: left;
        display: inline;
    }
    .cart-collaterals{
        width: 300px !important;

        float: left;
        display: inline;
    }
    .cms-home .products-grid.first >li:nth-child(3){
        display: block;
    }
    .jordan_show_second_list .even li:nth-child(3){
        display: block;
    }
    .cms-home .category-products{
        height: 400px;
    }
    .cms-home .messages{
        width: 137%;
        height: 40px;
    }
}