	
@media only screen and (min-width : 993px)  and (max-width: 1200px){
    .header{
        //background-color: blue;
    }
    .vebkoFooterMenu{
        display: inline;
        float: left;
        text-align: left;
        width: 25%;
    }
    .block-subscribe{
        display: inline;
        float: right;
        margin-top: -8px;
        padding-top: 0;
        width: 25%;
        border-width: 0;
    }
    .col-main{
        width: 75% !important;
        margin-top: -11px !important;
        margin-left: 0% !important;
        margin-right: 0% !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
        display: inline !important;
        float: left !important;

    }
    #camera_wrap_1{
        width: 133% !important;
        height: 320px !important;
        margin-bottom: 10px  !important;
        border: 0px solid !important;
    }
    .cms-home .col-right{
        margin-top: 330px !important;
    }

    .col-right,
    .col-left{
        width: 24% !important;
        display: inline !important;
        float: left !important;
    }
    .col-left{
        padding-left: 0px;
        padding-right: 1%;
    }
    .col-right{
        padding-left: 1%;
        padding-right: 0px;
    }
    .col-left.sidebar .block-banner img,
    .col-right.sidebar .block-banner img{
        width: 100%;
    }

    .search{
        margin-left: 18% !important;
        margin-top: 25px !important;
        width: 380px !important;
    }


    #search_mini_form {
        width: 300px;
    }
    .form-search{
        width:380px;
        margin-top: 0 !important;
    }
    .form-search input.input-text {
        width: 330px;
    }
    .col2-left-layout .col-left{
        margin-right: 20px;
    }
    .vebkoFooterMenu{
        display: inline;
        float: left;
        text-align: left;
        width: 25%;
    }
    .block-subscribe{
        display: inline;
        float: right;
        margin-top: -8px;
        padding-top: 0;
        width: 25%;
        border-width: 0;
    }
    /* cart start */
    .checkout-cart-index .col-main{
        width: 100% !important;
    }
    .cart fieldset {
        display: inline;
        float: left;
        width: 66% !important;
    }
    .cart-collaterals{
        width:  33% !important;
        float: left;
        display: inline;
    }
    /* cart start end*/
    .cms-home .products-grid >li:nth-child(3){
        display: block;
    }
    .cms-home .messages{
        width: 133%;
        height: 40px;
    }
    .cms-home .category-products{
        height: 400px;
    }
}