@media only screen and (min-width : 200px) and (max-width:480px){
    .header{
        margin-bottom: 4px;
        //background-color: red;
    }
    #menu-button a{
        padding-left: -6px !important;
    }
    .block-banner{
        display: none;
    }
    .search{
        width: 98% !important;
    }

    #search_mini_form {
        width: 98% !important;
    }
    .form-search{
        width: 98% !important;
    }
    .form-search input.input-text {
        width: 98% !important;
    }
    .header .switchers {
        float: right;
        position: absolute;
        right: 6px;
        text-align: right;
        top: 6px;
    }
    .cart-items-box{
        display: none !important;
    }

    .jordan_new_products_title,
    .jordan_new_products_title{
        padding-left: 10px;
    }


    ul.products-grid li {
        padding-bottom: 30px;
    }


    .vebkoFooterMenu,
    .block-subscribe,
    #mc_embed_signup{
        width: 100%;
    }
    .col2-left-layout .col-left{
        margin-right: 20px;
    }
    .products-grid .item{
        width: 100% !important;
    }

    .fluid_container{
        display: none;
    }


    .logo img{
        width: 140px;
        padding-left: 4px;
    }
    .skip-minicart{
        margin-top: 33px;   
    }
    .search{
        margin-bottom: 16px;
    }
    #custommenu-mobile{
        margin-top: -4px;
    }
    .header{
        height: 130px;
    }
    #wp-nav-container{
        margin-top: -4px;
    }


    .main-container {
        margin-left: 4px;
        margin-right: 4px;
        margin-top: 8px;
        width: calc(100% - 10px);
    }
    .vebkoFooterMenu{
        text-align: center;
    }
    .footer .links{
        width: 90%;
        float: right;
        margin: 0 auto 20px;
        text-align: center;

    }

    .footer ul.links li, .footer_block .links_block div ul li {
        padding-bottom: 2px;
        padding-top: 2px;
    }
    .footer address{
        margin-bottom: 50px;
    }

    .VebkoCartMailListPersonalInformation .customer{
        width: 100%;
    }
    .footer-container .vebkoFooterMenuTitle{
        margin-top: 38px;
    }
    .footer-container .links{
        margin-top: 20px !important;
    }
}