<div class="VebkoCartMailListProducts">
    <div class="page-title">
        <span><?php echo $this->__('Shopping Cart to Email') ?></span>
    </div>
</div>

<div class="VebkoCartMailListProducts">
    <div class="fieldset">
        <h2 class="legend"><?php echo $this->__('Product for Order') ?></h2>
        <?php
        $totalItemsInCart = Mage::helper('checkout/cart')->getItemsCount();
        $quote = Mage::getModel('checkout/session')->getQuote();

        if ($totalItemsInCart == 0) {
            echo $this->__('Your cart is empty');
        } else {
            $cartGrossTotal = 0;
            ?><table class="VebkoCartMailListProductsTable"><?php
            ?><tr><?php
            ?><td  class="VebkoCartMailListProductsTableTdName"><?php echo $this->__('Product Name') ?></td><?php
            ?><td  class="VebkoCartMailListProductsTableTdPrice"><?php echo $this->__('Unit Price') ?></td><?php
            ?><td  class="VebkoCartMailListProductsTableTdQty"><?php echo $this->__('Qty') ?></td><?php
            ?><td  class="VebkoCartMailListProductsTableTdQtyPrice"><?php echo $this->__('Subtotal') ?></td><?php
            ?></tr><?php
                foreach ($quote->getAllItems() as $item) {
                    $productName = $item->getProduct()->getName();
                    $productPrice = $item->getProduct()->getFinalPrice();
                    $productName = $item->getProduct()->getName();
                    $productQty = $item->getQty();
                    $productQtyPrice = $productPrice * $productQty;
                    $cartGrossTotal += $item->getPriceInclTax() * $item->getQty();
                    ?><tr><?php
                    ?><td  class="VebkoCartMailListProductsTableTdNameValue"><?php echo $productName; ?></td><?php
                    ?><td  class="VebkoCartMailListProductsTableTdPriceValue"><?php echo $productPrice; ?></td><?php
                    ?><td  class="VebkoCartMailListProductsTableTdQtyValue"><?php echo $productQty; ?></td><?php
                    ?><td  class="VebkoCartMailListProductsTableTdQtyPriceValue"><?php echo $productQtyPrice; ?> <?php echo $this->__('Lekë');?></td><?php
                    ?></tr><?php
                }
                ?></table><?php
                ?><div class="VebkoCartMailListProductsTotal"><?php echo $this->__('Grand Total:').' ';
        echo $cartGrossTotal; ?> <?php echo $this->__('Lekë'); ?></div><?php
        }
        ?>
    </div>
</div>
<div class="VebkoCartMailListPersonalInformation">
    <div class="fieldset">
        <?php if ($totalItemsInCart != 0) { ?>

            <h2 class="legend"><?php echo $this->__('Personal info'); ?></h2>

            <form id="form-validate" action="<?php echo $this->getUrl('cartmail/index/SendMail') ?>" method="post" id="webcampusECommerce">

                <div class="fields">
                    <div class="customer">
                        <div class="field firstname">
                            <span class="required" for="firstname">                                
                                <?php echo $this->__('First Name:') ?><em>*</em>
                            </span>
                            <div class="input-box">
                                <input type="text" name="vebkofistname" id="vebkofistname" class="required-entry input-text" value="" autocomplete="off" />
                            </div>
                        </div>
                    </div>
                    <div class="customer">
                        <div class="field lastname">
                            <span class="required" for="vebkolastname">                                
                                <?php echo $this->__('Last Name:') ?><em>*</em>
                            </span>
                            <div class="input-box">
                                <input type="text" name="vebkolastname" id="vebkolastname" class="required-entry input-text" value="" autocomplete="off" />
                            </div>
                        </div>
                    </div>
                    <div class="customer">
                        <div class="field vebkostreet">
                            <span class="required" for="vebkostreet">                                
                                <?php echo $this->__('Street:') ?><em>*</em>
                            </span>
                            <div class="input-box">
                                <input type="text" name="vebkostreet" id="vebkostreet" class="required-entry input-text" value="" autocomplete="off" />
                            </div>
                        </div>
                    </div>
                    <div class="customer">
                        <div class="field vebkostreetnumber">
                            <span class="required" for="vebkostreetnumber">                                
                                <?php echo $this->__('Street Number:') ?><em>*</em>
                            </span>
                            <div class="input-box">
                                <input type="text" name="vebkostreetnumber" id="vebkostreetnumber" class="required-entry input-text" value="" autocomplete="off" />
                            </div>
                        </div>
                    </div>
                    <div class="customer">
                        <div class="field city">
                            <span class="required" for="city">
                                <?php echo $this->__('City:') ?><em>*</em>
                            </span >
                            <div class="input-box">
                                <input type="text" name="vebkocity" id="vebkocity"class="required-entry input-text" value="" autocomplete="off" />
                            </div>
                        </div>
                    </div>
                     <div class="customer">
                        <div class="field country">
                            <span class="required" for="country">
                                <?php echo $this->__('Country:') ?><em>*</em>
                            </span >
                            <div class="input-box">
                                <input type="text" name="vebkocountry" id="vebkocountry"class="required-entry input-text" value="" autocomplete="off" />
                            </div>
                        </div>
                    </div>
                    
                    <div class="customer">
                        <div class="field email">
                            <span class="required" for="email">
                                <?php echo $this->__('E-mail:') ?><em>*</em>
                            </span >
                            <div class="input-box">
                                <input type="text" name="vebkoemail" id="vebkoemail" class="required-entry input-text" value="" autocomplete="off" />
                            </div>
                        </div>
                    </div>
                    <div class="customer">
                        <div class="field phone">
                            <span class="required" for="phone">                                
                                <?php echo $this->__('Phone:') ?><em>*</em>
                            </span>
                            <div class="input-box">
                                <input type="text" name="vebkotelefon" id="vebkotelefon" class="required-entry input-text" value="" autocomplete="off" />
                            </div>
                        </div>
                    </div>
                </div>

                <button type="submit" title="<?php echo $this->__('Send') ?>" class="button"><span><span><?php echo $this->__('Send Email') ?></span></span></button>
            </form>

        <?php } ?>
    </div>
</div>
<script type="text/javascript">
//<![CDATA[
    var dataForm = new VarienForm('form-validate', true);
//]]>
</script>