.login-container {
    background: rgba(0, 0, 0, 0) url("images/ozonelogo.png") no-repeat scroll 0 0;
	background-size: 74px;
    margin: 170px auto;
    padding-left: 78px !important;
    width: 581px;
}

.login-form{
	background: transparent none repeat scroll 0 0 !important;
	border: 1px solid black;
    width: 470px;
    padding: 27px 57px 35px;
    text-align: left;
}
.forgot-password #email{
	width: 464px !important;
}
.login-container .legal {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    font-size: 0.95em;
    margin: 0;
    padding: 8px 8px 5px;
}

.login-box .bottom {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
}

#loginForm .form-buttons .form-button,
button.forgot-password{
    background: yellow none repeat scroll 0 0 !important;
    color: black;
    float: right;
    height: 30px !important;
    padding-left: 4px !important;
    text-align: right;
    top: 0;
    width: 120px !important;
	padding-left: 4px;
    padding-top: 3px;
	opacity: 0.5;
}
#loginForm .form-buttons .form-button:hover{
	opacity: 1;
}