#custommenu {
//background: #FFF100 none repeat scroll 0 0;
    position: relative;
    font-size: 12px;
    padding: 0px 0px 0px 0px;
    border-radius: 0px;
    height: auto;
    width: 100%;
}
#custommenu a span{
	color: black;
}
/*IE7 fix*/
*:first-child+html #custommenu {
    z-index: 998;
}
/* Clearfix */
div.block2:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
html[xmlns] div.block2 {
    display: block;
}
* html div.block2 {
    height: 1%;
}
/*end clearfix*/
div.wp-custom-menu-popup {
    position: absolute;
    z-index: 1000;
    display: none;
    text-align: left;
    border-top: 0;
    margin-top: -1px;
}
#custommenu div.menu {
    float: left;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}
#custommenu div.menu a span:hover {
    cursor: pointer;
}
/*static block*/
#custommenu div.block2 p {
    margin-bottom: 3px;
    line-height: 120%;
    font-size: 11px;
}
#custommenu div.block2 p a {
    display: inline;
}
#custommenu div.block2 a img {
    opacity: .9;
    filter: alpha(opacity=90);
}
#custommenu div.block2 a:hover img {
    opacity: 1;
    filter: alpha(opacity=100);
-webkit-transition: all .2s ease-in-out;
-moz-transition: all .2s ease-in-out;
-ms-transition: all .2s ease-in-out;
transition: all .2s ease-in-out;
}
#custommenu div.block2 #custommenu .brand a:hover img {
    -webkit-transition: all 0;
    -moz-transition: all 0;
    -ms-transition: all 0;
    transition: all 0;
}
#custommenu div.wp-custom-menu-popup hr {
  margin: 0px 0px 10px 0px;
}
div.itemSubMenu {
    margin-left: 0px;
}
.clearBoth {
    clear:both;
    height: 0;
    overflow: hidden;
}
#custommenu div.level1 {
    margin-bottom: 0px;
}
#custommenu .block2 .single_menu_product {
    float: left;
    position: relative;
    max-width: 150px;
    overflow: hidden;
    margin-right: 20px;
    margin-left: 0px;
}
/*transitions*/
#custommenu div.menu a, #custommenu div.wp-custom-menu-popup a {
 -webkit-transition: all .1s linear;
-moz-transition: all .1s linear;
-ms-transition: all .1s linear;
transition: all .1s linear;
}
#custommenu div.menu .brand a, #custommenu div.wp-custom-menu-popup .brand a {
    -webkit-transition: all 0s linear;
    -moz-transition: all 0s linear;
    -ms-transition: all 0s linear;
    transition: all 0s linear;
}
/*******************************************TOP MENU*******************************************/

#custommenu div.wp-custom-menu-popup {
	padding: 0px 0px 10px 0px;
	border-radius: 0px  3px 3px 0px;
}
#custommenu div.level1 {
    margin-bottom: 5px;
}
#custommenu div.level2 {
    margin-bottom: 5px;
}
#custommenu div.level3 {
    margin-bottom: 5px;
    padding: 5px;
}
div.block2 {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
}
/*column width - 4 columns*/
#custommenu div.column {
      margin: 0px 0px 0px 0px;
		width: 23%;
		float: left;
padding: 0px 1%;
}
/*buttons and links*/
#custommenu div.menu a:link, #custommenu div.menu a:visited {
    display: block;
    height: 30px;
    padding-left: 15px;
    padding-right: 15px;
}
#custommenu div.menu a span {
    display: block;
    height: 21px;
    padding-right: 0px;
    padding-top: 9px;
}
#custommenu div.menu a, #custommenu div.wp-custom-menu-popup a {
    text-decoration: none;
    display:block;
    cursor: pointer;
    _height: 0;
    height: auto;
    line-height:13px;
}
#custommenu a.level1:link, #custommenu a.level1:visited {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 2px;
}
#custommenu a.level2:link, #custommenu a.level2:visited,
#custommenu a.level3:link, #custommenu a.level3:visited {
    padding: 3px 10px;
    border-radius: 2px;
    -webkit-transition: all .1s linear;
-moz-transition: all .1s linear;
-ms-transition: all .1s linear;
transition: all .1s linear;
}
/*fonts*/
#custommenu div.menu {
    font-weight: normal;
font-size: 13px;
text-transform: uppercase;
font-family: Arial, sans-serif;
}
#custommenu a.level1:link, #custommenu a.level1:visited {
    text-transform: none;
font-weight: bold;
    font-family: Arial, sans-serif;
}
#custommenu a.level2:link, #custommenu a.level2:visited {
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
}
#custommenu a.level3:link, #custommenu a.level3:visited {
    font-size: 11px;
    font-weight: normal;
    line-height: 100%;
    margin-bottom: 0px;
}
/*color scheme*/
#custommenu div.wp-custom-menu-popup {
  background: #f1f1f1;
box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.3);
}
#custommenu .menu a:link, #custommenu .menu a:visited {
	color: #fff;
}
#custommenu .menu a:hover,  #wp-nav-container .active a {
	  background: #f1f1f1;
	color: #000 !important;
}
#custommenu div.wp-custom-menu-popup a:hover {
	background: #fff;	
}
/*******************************************SIDEBAR MENU*******************************************/
.wp-custommenu-sidebar {
    position: relative;
}
#wp-sidebar-nav-container-content div.menu {
    float: none;
}
#wp-sidebar-nav-container-content div.column {
    width: auto;
    padding: 0 10px; /* must be fixed! do not use percent! */
}
#wp-sidebar-nav-container-content .itemMenuName {
    display: block;
}
#wp-sidebar-nav-container-content div.wp-custom-menu-popup {
	 padding: 10px 0px 10px 0px;
	  border-radius: 0px 3px 3px 0px;
	  border-left: 0;
}
#wp-sidebar-nav-container-content.block-content {
	padding: 0;
}
/*popup links width*/
#wp-sidebar-nav-container-content .popup a.level1 {
	background-position: 99% 50%;
	background-repeat: no-repeat;
}
/*buttons and links*/
#wp-sidebar-nav-container-content div.menu a:link, #wp-sidebar-nav-container-content div.menu a:visited {
    display: block;
    padding: 5px 3px;
	 margin-bottom: 5px;
	 border-radius: 2px;
}
#wp-sidebar-nav-container-content div.menu a span {
    display: block;
}
#wp-sidebar-nav-container-content  div.menu a, #wp-sidebar-nav-container-content  div.wp-custom-menu-popup a {
    text-decoration: none;
    display:block;
    cursor: pointer;
    _height: 0;
    height: auto;
}
#wp-sidebar-nav-container-content  a.level1:link, #wp-sidebar-nav-container-content  a.level1:visited {
    font-size: 14px;
	 margin-bottom: 3px;
	 padding:  1% 5%;
}
#wp-sidebar-nav-container-content div.block1 a:link, #wp-sidebar-nav-container-content div.block1 a:visited  {
	display: block;
	width: 98%;
	float: none;
	padding: 1%;
}
#wp-sidebar-nav-container-content  a.level2:link, #wp-sidebar-nav-container-content  a.level2:visited,
#wp-sidebar-nav-container-content  a.level3:link, #wp-sidebar-nav-container-content  a.level3:visited {
  padding:  1% 5%;
    border-radius: 2px;
    -webkit-transition: all .1s linear;
-moz-transition: all .1s linear;
-ms-transition: all .1s linear;
transition: all .1s linear;
}
/*fonts*/
#wp-sidebar-nav-container-content a.level0:link, #wp-sidebar-nav-container-content a.level0:visited {
	margin-bottom: 3px;
padding:  1% 5%;
 font-size: 14px;
  font-weight: bold;
    font-family: Arial, sans-serif;
}
#wp-sidebar-nav-container-content a.level1:link, #wp-sidebar-nav-container-content a.level1:visited {
    text-transform: none;
    font-weight: normal;
	 font-size: 14px;
    font-family: Arial, sans-serif;
}
#wp-sidebar-nav-container-content a.level2:link, #wp-sidebar-nav-container-content a.level2:visited,  
#wp-sidebar-nav-container-content div.wp-custom-menu-popup a.level2:link, #wp-sidebar-nav-container-content div.wp-custom-menu-popup a.level2:visited {
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
}
#wp-sidebar-nav-container-content a.level3:link, #wp-sidebar-nav-container-content a.level3:visited, 
#wp-sidebar-nav-container-content div.wp-custom-menu-popup a.level3:link, #wp-sidebar-nav-container-content div.wp-custom-menu-popup a.level3:visited {
    font-size: 12px;
    font-weight: normal;
    line-height: 100%;
    margin-bottom: 0px;
}
/*color scheme*/
#wp-sidebar-nav-container-content div.wp-custom-menu-popup {
	  box-shadow: 0 0 10px 0px #999999;
	  background: #fff;
}
#wp-sidebar-nav-container-content a.level0:hover, #wp-sidebar-nav-container-content a.level1:hover,  #wp-sidebar-nav-container-content a.level2:hover, #wp-sidebar-nav-container-content a.level3:hover, 
#wp-sidebar-nav-container-content .active a:link, #wp-sidebar-nav-container-content .active a:visited, 
#wp-sidebar-nav-container-content div.wp-custom-menu-popup a:hover {
	background-color: #f1f1f1;
}
#wp-sidebar-nav-container-content .popup a.level1 {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAYAAADEtGw7AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAE9JREFUeNrs1EEOADAEBMDyVe/y1m3celxETzZxHUJCAJyJ6BnKwgs3YDND1NjELE7D7i4ZPDVxBtfqGt4m7eOxaOl4DBqRfZsL/4OvAAMAWnwedcvK1tUAAAAASUVORK5CYII=);
background-position: 99% 50%;
background-repeat: no-repeat;
}
/*******************************************MOBILE MENU*******************************************/
#custommenu-mobile #menu-button, #custommenu-mobile .parentMenu {
    display: inline-block;
}
html[xmlns] #custommenu-mobile #menu-button, html[xmlns] #custommenu-mobile .parentMenu {
    display: block;
}
* html #custommenu-mobile #menu-button, * html #custommenu-mobile .parentMenu {
    height: 1%;
}
#custommenu-mobile #menu-button:after, #custommenu-mobile .parentMenu:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
#custommenu-mobile {
    position:relative;
    margin: 0 auto;
    padding: 0;
    z-index: 999;
}
#custommenu-mobile #menu-button {
    float: none;
    padding: 10px 0px 10px 0px;
    margin: 0px 0px 0px 0px;
    width: 100%;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    text-transform: uppercase;
}
#custommenu-mobile #menu-button a:link, #custommenu-mobile #menu-button a:visited {
    display: block;
    float: left;
    margin-left: 45%;
    position: relative;
    padding: 0px 10px;
}
#custommenu-mobile #menu-button a span:after {
    display: block;
    position: relative;
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top-width: 4px;
	 border-top-style: solid;
    margin: 8px 0px 0px 5px;
    float: right;
    opacity: 0.7;
}
#custommenu-mobile #menu-button:hover {
    cursor: pointer;
}
#custommenu-mobile #menu-button:hover a:after {
    opacity: 1;
}
#custommenu-mobile  div.column {
    float:none;
    padding:5px;
}
#custommenu-mobile  a.itemMenuName {
    display: block;
    text-align: left;
}
#custommenu-mobile  div.menu-button, .menu-mobile div.menu-mobile {
    float: none;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    width: 100%;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
#custommenu-mobile  div.column {
    float: none;
    width: 100%;
    padding: 0px 0;
    margin: 0px 0px 0px 0px;
}
#custommenu-mobile  a.level1:link, #custommenu-mobile  a.level1:visited {
    margin-top: 0px;
    margin-bottom: 0;
    padding: 10px 10px;
    border-radius: 2px;
}
#custommenu-mobile a.level2:link, #custommenu-mobile  a.level2:visited {
    padding: 10px 10px;
    border-radius: 2px;
}
/*buttons level 01*/
#custommenu-mobile .parentMenu {
    padding: 0 0;
    display: block;
    text-align: left;
}
#custommenu-mobile .parentMenu a:link, #custommenu-mobile .parentMenu a:visited {
    padding: 10px 0px 10px 10px;
    margin-right: 80px;
    display: block;
}
#custommenu-mobile a.level1:link, #custommenu-mobile a.level1:visited {
	 margin-top: 0;
	 margin-bottom: 0;
	 padding-top: 10px;
	  padding-bottom: 10px;
}
#custommenu-mobile a.level2:link, #custommenu-mobile a.level2:visited {
	 margin-top: 0;
	 margin-bottom: 0;
	 padding-top: 5px;
	 padding-bottom: 5px;
}
#custommenu-mobile a.level3:link, #custommenu-mobile a.level3 :visited {
    padding-left: 3%;
    background-repeat: no-repeat;
background-image: url(data:image/gif;base64,R0lGODlhAwAFAIABAI+Pj////yH5BAEAAAEALAAAAAADAAUAAAIFRAKWi1cAOw==);
background-position: 1% 50%;
margin-top: 0;
	 margin-bottom: 0;
	 padding-top: 0px;
	  padding-bottom: 0px;
}

#custommenu-mobile .parentMenu:hover {
    cursor: pointer;
}
#custommenu-mobile .parentMenu {
    position: relative;
}
#custommenu-mobile .parentMenu a {
    display: block;
}
#custommenu-mobile #menu-button {
    cursor: pointer;
}
#custommenu-mobile div.level2 {
    margin-bottom: 0;
}
#custommenu-mobile .button {
    cursor: pointer;
    position: absolute;
    right: 1%;
    top: 0px;
    display: block;
    width: 80px;
    height: 38px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 90% 50%;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAJxJREFUeNpi/P//PwM66O3tBVF1UNwEwsXFxRjqmBhwg3wgZobSWAE+zcxoNEmaCQKKNDP29PTgkvsAxPxA/BGIBXDZ3A7Ef4D4Pxrmh6rhxyL3E4gbQZqL8AUKDsAG0gfS3AfEf0nU/AuIJ4I0VwIxC8j/aPgjVOFHLHLsQFzDiCeFoQQYqSmMtvGMT/NfNJokzQug9HRcCgACDAC34CnSSWx3zwAAAABJRU5ErkJggg==);
}
#custommenu-mobile .button.open {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 90% 50%;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAE5JREFUeNpi/P//PwO5gImBAjBENbP09vZSZHM7EP8B4v8k4J9A3AjSXATEzCRaygbSB9LcB8R/SdT8C4gnsgCJSigmGTCOpjDSAECAAQBI6RqpQRaDFgAAAABJRU5ErkJggg==);
}
#custommenu-mobile .level1 .button {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIxJREFUeNpi/P//PwO5gAWbYG9vL4ZYcXExhhgTAwUAn+YJQAzyUxcuBYwwP2Nx6k8gZgPid0AsjM0L+Gxmg9LMxDob5lTkKOBHEuvCpzmZQBgl4NNcD8SvcWgEiTfhi+c+KGZAcvpHIBbAG9pYEglKaJOaSCqB+BrUK8QnTyxeYCDa2dRIngQBQIABAGG6KfxEmzSnAAAAAElFTkSuQmCC);
}
#custommenu-mobile .level1 .button.open {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAE1JREFUeNpi/P//PwO5gImBAjBwmllgjN7eXqI1FRcXU9/ZE4D4Px7chU9zMgHLEvBprgfi1zg0gsSbsAYYFPRBMVGAcQSmMIo0AwQYAIYUFeQ3G04OAAAAAElFTkSuQmCC);
}
/*fonts*/
#custommenu-mobile .parentMenu a:link, #custommenu-mobile .parentMenu a:visited {    text-transform: uppercase;
	 font-size: 14px;
	 font-weight: bold;}
#custommenu-mobile  a.level1:link, #custommenu-mobile  a.level1:visited {
font-weight: normal;
    text-transform: none;
	     font-family: Arial, sans-serif;}
#custommenu-mobile a.level2:link, #custommenu-mobile a.level2:visited {
font-weight: normal;
    text-transform: none;
    font-family:  Arial, sans-serif;
	     font-size: 13px;
    line-height: 16px;
}
#custommenu-mobile a.level3:link, #custommenu-mobile a.level3 :visited {    font-weight: normal;
    text-transform: none;
    font-family: Arial, sans-serif;
	     font-size: 11px;
    font-weight: normal;
    line-height: 100%;
}
/*color scheme*/
#custommenu-mobile #menu-button a:link, #custommenu-mobile #menu-button a:visited {
	color: #fff;
}
#custommenu-mobile #menu-button a:hover {
	color: #999;
}
#custommenu-mobile .parentMenu a:link, #custommenu-mobile .parentMenu a:visited {
	color: #000;
}
#custommenu-mobile #menu-content {
	border-bottom: 1px solid #dadada;
}
#custommenu-mobile div.parentMenu {
	border-bottom: 1px solid #dadada;
}
#custommenu-mobile div.level0, #custommenu-mobile div.level2 {
background-color: #ffffff;
}
#custommenu-mobile div.level1, #custommenu-mobile div.level4  {
background-color: #f1f1f1;
}
#custommenu-mobile div.parentMenu:hover {
	background-color: #dadada;
}

