.VebkoCartMailListProducts .page-title{
    border-bottom: 1px solid;
    font-size: 22px;
    margin-top: 18px;
    border-bottom: 1px solid #dadada;
}
.VebkoCartMailListProducts .fieldset .legend,
.VebkoCartMailListPersonalInformation .fieldset .legend{
    border-bottom: 1px solid #dadada;
    padding-bottom: 4px;
}
.VebkoCartMailListProducts table{
    width: 100%;
    padding: 4px;
}

.VebkoCartMailListProductsTable tr:first-child{
	padding-top: 4px;
	padding-bottom: 4px;
	background: #D0D0D0 ;
	 height: 28px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 18px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
}
.VebkoCartMailListProductsTableTdName{
     	width: 40%;
     	padding-left: 6px;
    padding-top: 3px;
}
.VebkoCartMailListProductsTableTdPrice{
	width: 20%;
	 padding-top: 3px;
}
.VebkoCartMailListProductsTableTdQty{
	width: 10%;
	 padding-top: 3px;
}
.VebkoCartMailListProductsTableTdQtyPrice{
	width: 30%;
	 padding-top: 3px;
	 padding-right: 3px;
	text-align: right;
}
.VebkoCartMailListProductsTableTdQtyPriceValue{
text-align: right;
}

.VebkoCartMailListProducts .fieldset{
    padding-bottom: 35px;
    border-width: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 15px;
    padding-top: 0;
}
.VebkoCartMailListProductsTotal{
    color: red;
    float: right;
    font-size: 18px;
    font-weight: bold;
    height: 30px;
    margin-top: 6px;
    border-top: 1px solid #dadada;
}


.VebkoCartMailListPersonalInformation .fieldset{
    padding-bottom: 35px;
    border-width: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 15px;
    padding-top: 0;
}

.VebkoCartMailListPersonalInformation customer{
    margin-bottom: 4px;
    margin-top: 4px;
}

.input-box input{
    height: 24px;
    width: 264px;
}

input[type=text], textarea {
  @include transition(all 0.30s ease-in-out);
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}

input[type=text]:focus, textarea:focus {
  @include box-shadow(0 0 5px rgba(81, 203, 238, 1));
  //padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}

div.fields span{
  width: 120px;
  margin-top: 10px;
}
.VebkoCartMailListPersonalInformation .customer{
   float: left;
   width: 50%;
   backgraound: red;
}
.VebkoCartMailListPersonalInformation .customer .input-box input{
    width: 90% !important;
}
.VebkoCartMailListPersonalInformation .customer em{
   color: red;
}
.VebkoCartMailListPersonalInformation button.button{
float: right;
    width: 100px;
    background: #FFF100 none repeat scroll 0 0;
    height: 30px;
    margin-top: 16px;
    right: 5%;
}

.VebkoCartMailListPersonalInformation button.button span span{
   color: black;
   background: none repeat scroll 0 0;
}

.vebkoSendMailCart{
 background-image: none !important;
 background: yellow none repeat scroll 0 0 !important;
    color: black;
    float: right;
    text-align: right;
    top: 0;
    height: 40px !important;
    padding-left: 0 !important;
    width: 200px !important;
	margin-right: 50px;
 }
.vebkoSendMailCart span span{
 background-image: none !important;
  background: yellow none repeat scroll 0 0 !important;
    color: black !important;
    padding: 0 14px 0 8px;
    top: 0;
    padding-right: 0px  !important;
    }